Node-red/rawJsonForNodeRed.json
[{"id":"2b6a73a93d16a353","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"aa5fc5a9143866bc","type":"tab","label":"signin","disabled":false,"info":"","env":[]},{"id":"b38dd0ecf2953aba","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"79bd7a876d47bd42","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"fe08cb8ef7a89d6d","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"3b1b97cdb3069b9c","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"8037500eb60abcf1","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"48c23849e8802804","type":"ui_tab","name":"Room","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"6e700e0424f1d973","type":"ui_group","name":"Lamp","tab":"48c23849e8802804","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"918e4c6f030a9426","type":"ui_group","name":"Sensor","tab":"48c23849e8802804","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"959223befe851d74","type":"mqtt-broker","name":"","broker":"10.25.17.100","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"10e78a89.5b4fd5","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"61285987.c20328","type":"ui_group","name":"Main","tab":"e7c46d5e.a1283","order":1,"disp":true,"width":"6","collapse":false},{"id":"e7c46d5e.a1283","type":"ui_tab","name":"Dashboard","icon":"dashboard"},{"id":"b82da486.9fc8d8","type":"ui_group","name":"Signin","tab":"d65502b1.ee517","order":1,"disp":true,"width":"6","collapse":false},{"id":"c35e46a8.b04ce8","type":"ui_group","name":"chargeStation","tab":"d65502b1.ee517","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"4de9506d.e7364","type":"ui_group","name":"History","tab":"d65502b1.ee517","order":3,"disp":true,"width":"6","collapse":false},{"id":"d65502b1.ee517","type":"ui_tab","name":"Dashboard","icon":"dashboard","order":1},{"id":"846135405ee13acb","type":"mqtt in","z":"2b6a73a93d16a353","name":"","topic":"esp32/ID-number","qos":"2","datatype":"auto-detect","broker":"10e78a89.5b4fd5","nl":false,"rap":true,"rh":0,"inputs":0,"x":180,"y":60,"wires":[["30d13e9531a5ecd8","88a257a1698acfb1"]]},{"id":"bacdf8b16ec924c6","type":"debug","z":"2b6a73a93d16a353","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":100,"wires":[]},{"id":"88a257a1698acfb1","type":"exec","z":"2b6a73a93d16a353","command":"python3 /home/jjhrasberry1/Desktop/Zumo-Smart-City/Node-red/TarioSky1/bom.py","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":630,"y":60,"wires":[["bacdf8b16ec924c6","d16d719001b8916e"],[],[]],"info":"sjekker skiltnummeropp mot database for å\r\nse om bil er elektrisk"},{"id":"30d13e9531a5ecd8","type":"debug","z":"2b6a73a93d16a353","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":100,"wires":[]},{"id":"d16d719001b8916e","type":"mqtt out","z":"2b6a73a93d16a353","name":"","topic":"esp32/bomIsElectric","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1100,"y":60,"wires":[]},{"id":"54d6a196f71fc9b3","type":"mqtt in","z":"2b6a73a93d16a353","name":"","topic":"esp32/ladestasjon","qos":"2","datatype":"auto-detect","broker":"10e78a89.5b4fd5","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":280,"wires":[["90e556e9bfc3f793","979738131c9fadbc"]],"info":"sender ut skiltnummer fra bil"},{"id":"90e556e9bfc3f793","type":"exec","z":"2b6a73a93d16a353","command":"python3 /home/jjhrasberry1/Desktop/Zumo-Smart-City/Node-red/TarioSky1/getPrice.py","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":640,"y":280,"wires":[["de104a8eaf60c853"],[],[]]},{"id":"75ec8c8db90f3870","type":"mqtt in","z":"2b6a73a93d16a353","name":"","topic":"esp32/kjoreMonster","qos":"2","datatype":"auto-detect","broker":"10e78a89.5b4fd5","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":420,"wires":[["6ad6851960e29584"]]},{"id":"91a8851556112491","type":"mqtt in","z":"2b6a73a93d16a353","name":"","topic":"esp32/kontrollerOutput","qos":"2","datatype":"auto-detect","broker":"10e78a89.5b4fd5","nl":false,"rap":true,"rh":0,"inputs":0,"x":200,"y":500,"wires":[["a1cee02002b44c95","a77ae56808e6ba11"]]},{"id":"a1cee02002b44c95","type":"mqtt out","z":"2b6a73a93d16a353","name":"","topic":"zumo/kontrollerInput","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":440,"y":500,"wires":[]},{"id":"a77ae56808e6ba11","type":"debug","z":"2b6a73a93d16a353","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":400,"y":540,"wires":[]},{"id":"979738131c9fadbc","type":"debug","z":"2b6a73a93d16a353","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":320,"wires":[]},{"id":"de104a8eaf60c853","type":"debug","z":"2b6a73a93d16a353","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1060,"y":300,"wires":[]},{"id":"d1af8677d4f1412b","type":"comment","z":"2b6a73a93d16a353","name":"Får inn skiltnummer gir ut pris basert på dette","info":"","x":650,"y":240,"wires":[]},{"id":"6741743c7982409d","type":"mqtt in","z":"2b6a73a93d16a353","name":"","topic":"esp32/bom","qos":"2","datatype":"auto-detect","broker":"10e78a89.5b4fd5","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":140,"wires":[["ce63134a85cde141","88a257a1698acfb1"]]},{"id":"ce63134a85cde141","type":"debug","z":"2b6a73a93d16a353","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":140,"wires":[]},{"id":"8bb445d260521cdc","type":"random","z":"2b6a73a93d16a353","name":"","low":"0","high":"2.2","inte":"false","property":"payload","x":320,"y":640,"wires":[["75965bf4826fe12a"]]},{"id":"f8d9e8d2714f2b33","type":"random","z":"2b6a73a93d16a353","name":"","low":1,"high":"11","inte":"true","property":"payload","x":320,"y":680,"wires":[["75965bf4826fe12a"]]},{"id":"75965bf4826fe12a","type":"join","z":"2b6a73a93d16a353","name":"payload","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":" ","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":480,"y":660,"wires":[["1c44c7b831f9dadc","e39da3286b1d5b75"]]},{"id":"1c44c7b831f9dadc","type":"debug","z":"2b6a73a93d16a353","name":"debug 14","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":700,"wires":[]},{"id":"e39da3286b1d5b75","type":"exec","z":"2b6a73a93d16a353","command":"python3 /home/jjhrasberry1/Desktop/Zumo-Smart-City/Node-red/TarioSky1/insertLogg.py","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":910,"y":660,"wires":[[],[],[]]},{"id":"6ad6851960e29584","type":"exec","z":"2b6a73a93d16a353","command":"python3 /home/jjhrasberry1/Desktop/Zumo-Smart-City/Node-red/TarioSky1/insertLogg.py","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":650,"y":420,"wires":[[],[],[]]},{"id":"c492de182a6c15a6","type":"comment","z":"2b6a73a93d16a353","name":"bom. får id gjennom mqtt og gir bøter om bilen ikke er elektrisk","info":"bom. får id gjennom mqtt og gir bøter om bilen ikke er elektrisk","x":640,"y":20,"wires":[]},{"id":"723c2bf77fe0cf34","type":"comment","z":"2b6a73a93d16a353","name":"Får inn \"kontinuerlig\" data og logger det i logg.csv","info":"","x":620,"y":380,"wires":[]},{"id":"c9a3ee989f752b5b","type":"inject","z":"2b6a73a93d16a353","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":660,"wires":[["8bb445d260521cdc","f8d9e8d2714f2b33"]]},{"id":"654b7a7732e62b07","type":"comment","z":"2b6a73a93d16a353","name":"Genererer fake kjøredata til logg.csv","info":"","x":580,"y":620,"wires":[]},{"id":"185012a6112d394b","type":"inject","z":"2b6a73a93d16a353","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":820,"wires":[["ef02c2a6333ae3c3"]]},{"id":"ef02c2a6333ae3c3","type":"exec","z":"2b6a73a93d16a353","command":"python3 /home/jjhrasberry1/Desktop/Zumo-Smart-City/Node-red/TarioSky1/countAndGrade.py","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":670,"y":820,"wires":[[],[],[]]},{"id":"f45776bfb00a4d05","type":"comment","z":"2b6a73a93d16a353","name":"oppdater scoren til alle biler 00:00 hver natt","info":"","x":680,"y":780,"wires":[]},{"id":"bd456e4e.359d8","type":"ui_form","z":"aa5fc5a9143866bc","name":"Dashboard Sign-In","label":"","group":"b82da486.9fc8d8","order":0,"width":0,"height":0,"options":[{"label":"username","value":"username","type":"text","required":true,"rows":null},{"label":"password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"username":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","topicType":"str","splitLayout":false,"className":"account","x":90,"y":100,"wires":[["4fba073b90e567cc","a926c1ff.ede37"]]},{"id":"6603f3ab.d89abc","type":"debug","z":"aa5fc5a9143866bc","name":"Debug Account Log ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":20,"wires":[]},{"id":"bc6dfbc9.d9d138","type":"comment","z":"aa5fc5a9143866bc","name":"Sign-In Section","info":"","x":90.00000762939453,"y":42.999996185302734,"wires":[]},{"id":"ea809461.f36198","type":"function","z":"aa5fc5a9143866bc","name":"Account Log","func":"var accountlog =  flow.get(\"accountlog\") || [] ; \n\naccountlog.push({ accessAt : new Date(), username : msg.payload.username})\n\nflow.set(\"accountlog\", accountlog);\n\nmsg.payload = accountlog;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":40,"wires":[["6603f3ab.d89abc"]]},{"id":"a926c1ff.ede37","type":"function","z":"aa5fc5a9143866bc","name":"Account Verification","func":"var username = msg.payload.username ;\nvar password = msg.payload.password ; \n\nglobal.set(\"user\", username);\n\nmsg.payload = 0;\n\nif ( msg.payload == 0 ) {\n  var currentsocketid = flow.get(\"clientid\") || undefined;\n  if ( currentsocketid !== undefined && currentsocketid !== msg.socketid ) msg.payload = 3;\n}\n// keep the original socketid from msg.socketid;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":100,"wires":[["ea809461.f36198"]]},{"id":"88afc196.8abc2","type":"switch","z":"aa5fc5a9143866bc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":650,"y":140,"wires":[["eefb7b9e.f5daa8"],["2f57eca.40fa214"],["cc34d440.a91948"]]},{"id":"eefb7b9e.f5daa8","type":"function","z":"aa5fc5a9143866bc","name":"= 0 : Success","func":"/* activate session timer */\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nflow.set(\"sessionTimer\", currTime);\nflow.set(\"clientid\", msg.socketid);\n/* ui-control payload */\nmsg.payload = { group: {\n    show : [\"Dashboard_SensorData\", \"Another_History\"],\n    hide : [\"Dashboard_Signin\"]\n    }\n};\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":100,"wires":[["5c0b7126.396e8"]]},{"id":"2f57eca.40fa214","type":"function","z":"aa5fc5a9143866bc","name":"= 1 : Unknown User","func":"msg.payload = \"Username Doesn't exist!!!\"\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":140,"wires":[["61e843e4.4d74cc"]]},{"id":"cc34d440.a91948","type":"function","z":"aa5fc5a9143866bc","name":"= 2 : Wrong Password","func":"msg.payload = \"Invalid Password\";\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":180,"wires":[["61e843e4.4d74cc"]]},{"id":"5c0b7126.396e8","type":"ui_ui_control","z":"aa5fc5a9143866bc","name":"Go to chargestation Group","x":1220,"y":100,"wires":[[]]},{"id":"61e843e4.4d74cc","type":"ui_toast","z":"aa5fc5a9143866bc","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"Authentication Failed","name":"Authentication Failure Dialog","x":1220,"y":160,"wires":[[]]},{"id":"643a01a8.560ea","type":"inject","z":"aa5fc5a9143866bc","name":"Timer","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":86.50000762939453,"y":486.9999828338623,"wires":[["bc828c1d.b3504"]]},{"id":"bc828c1d.b3504","type":"function","z":"aa5fc5a9143866bc","name":"Detect Session Timer","func":"var sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nvar SESSION_TIMEOUT = 3600000; // 1 hour\n\nif ( sessionTimer === 0 /* Inactive, No user signed in */ ) {\n    msg.payload = 2;\n} else {\n    if ( currTime - sessionTimer > SESSION_TIMEOUT ) {\n      msg.payload = 0;  \n    } else {\n      msg.payload = 1;        \n    }\n}\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":274.50003814697266,"y":452.99999809265137,"wires":[["50a18f10.e23c2"]]},{"id":"50a18f10.e23c2","type":"switch","z":"aa5fc5a9143866bc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":440,"wires":[["e73a1f0b48c12c71"],["91c7a0ab.ec163","9eceaa92ddb8402a"]]},{"id":"5b39c16e.da2f","type":"function","z":"aa5fc5a9143866bc","name":"Time-Out","func":"/* activate session timer */\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nflow.set(\"sessionTimer\", 0);\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = \"You are logged out!\";\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":440,"wires":[["d29000e.556e5","a3d5d44d.a71ce8"]]},{"id":"d29000e.556e5","type":"ui_toast","z":"aa5fc5a9143866bc","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"Session Timeout","name":"Time-Out Dialog","x":920,"y":400,"wires":[[]]},{"id":"8859efbd.09b1b","type":"ui_ui_control","z":"aa5fc5a9143866bc","name":"Go to Signin Group","x":1150,"y":440,"wires":[[]]},{"id":"a3d5d44d.a71ce8","type":"function","z":"aa5fc5a9143866bc","name":"Sign-In Redirection","func":"var msg = {};\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = { group: {\n    hide : [\"Dashboard_SensorData\", \n            \"Dashboard_History\"],\n    show : [\"Dashboard_Signin\"]\n}\n};\n\nflow.set(\"clientid\", undefined);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":440,"wires":[["8859efbd.09b1b"]]},{"id":"937e9201.0a617","type":"inject","z":"aa5fc5a9143866bc","name":"Timer","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":83.99999237060547,"y":718.9999923706055,"wires":[["ab530393.261bd"]]},{"id":"6d52854e.4e8d8c","type":"ui_text","z":"aa5fc5a9143866bc","group":"c35e46a8.b04ce8","order":3,"width":0,"height":0,"name":"Label Display","label":"lol","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":1120,"y":960,"wires":[]},{"id":"ab530393.261bd","type":"function","z":"aa5fc5a9143866bc","name":"Decode MySensor Message","func":"\nvar mySensorsMessage = {}\nvar newPayload = {};\nvar timestamp = new Date();\n\nnewPayload.nodeId  =  3;\nnewPayload.type =  Math.floor( Math.random() * Math.floor(2));  // 0 or 1\nif ( newPayload.type === 0 /* temperature */ ) newPayload.value   =  Math.floor( Math.random() * Math.floor(30)) + 10; // 10 - 39\nelse newPayload.value   =  Math.floor( Math.random() * Math.floor(40)) + 40; // 40 - 79\n\nmsg.payload = newPayload; \n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":860,"wires":[["d320c244.f24af","1e3effb1.5ff58"]]},{"id":"1e3effb1.5ff58","type":"function","z":"aa5fc5a9143866bc","name":"Filter : temperature","func":"if (msg.payload.nodeId == 3 && msg.payload.type === 0) {\n    var msg;\n    msg.payload = msg.payload.value;\n    msg.topic = \"Temperature\"\n    return msg;\n}    ","outputs":1,"timeout":"","noerr":5,"initialize":"","finalize":"","libs":[],"x":530,"y":820,"wires":[["ef7cf0b4.332f5","38045480.64ec1c","328b09bd.9901c6"]]},{"id":"ef7cf0b4.332f5","type":"ui_gauge","z":"aa5fc5a9143866bc","name":"Gauge : Temperature","group":"c35e46a8.b04ce8","order":4,"width":0,"height":0,"gtype":"gage","title":"Temperature DHT22","label":"MySensors v2","format":"{{value}}°C","min":0,"max":"50","colors":["#66ccff","#ff8000","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":860,"y":800,"wires":[]},{"id":"d320c244.f24af","type":"function","z":"aa5fc5a9143866bc","name":"Filter : humidity","func":"if (msg.payload.nodeId == 3 && msg.payload.type === 1) {\n    var msg;\n    \n    msg.payload = msg.payload.value;\n    msg.topic = \"Humidity\"\n    return msg;\n    \n}    ","outputs":1,"timeout":"","noerr":5,"initialize":"","finalize":"","libs":[],"x":516.0000534057617,"y":927.000039100647,"wires":[["d4eaedd1.98978","38045480.64ec1c","328b09bd.9901c6"]]},{"id":"d4eaedd1.98978","type":"ui_gauge","z":"aa5fc5a9143866bc","name":"Gauge : Humidity","group":"c35e46a8.b04ce8","order":5,"width":"0","height":"0","gtype":"gage","title":"Humidity DHT22","label":"MySensors v2","format":"{{value}}%","min":0,"max":"100","colors":["#1a25ab","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":850,"y":880,"wires":[]},{"id":"38045480.64ec1c","type":"function","z":"aa5fc5a9143866bc","name":"Attention : temperature & humidity","func":"context.data = context.data || new Object();\n\nswitch (msg.topic) {\n    case \"Temperature\":\n        context.data.temperature = msg.payload;\n        msg = null;\n        break;\n    case \"Humidity\":\n        context.data.humidity = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n\n}\n\nif(context.data.temperature !== null && context.data.humidity !== null && context.data.temperature !== undefined && context.data.humidity !== undefined) {\n\tmsgOut = \"\"; //new Object();\n    msgOut = \"Temerature : \" \n    msgOut += context.data.temperature.toString(); \n    msgOut+= \"°C - Humidity : \"; \n    msgOut+= context.data.humidity.toString();\n    msgOut+= \"%\";\n    context.data=null;\n    var msg = {};\n    msg.payload = msgOut;\n\treturn msg;\n} \n//else return msg;","outputs":1,"timeout":"","noerr":7,"initialize":"","finalize":"","libs":[],"x":880,"y":960,"wires":[["6d52854e.4e8d8c"]]},{"id":"328b09bd.9901c6","type":"ui_chart","z":"aa5fc5a9143866bc","name":"History : Temperature & Humidity","group":"c35e46a8.b04ce8","order":6,"width":"6","height":"9","label":"Temperature & Humidity","chartType":"line","legend":"true","xformat":"%H:%M","interpolate":"linear","nodata":"No Data Yet","dot":false,"ymin":"0","ymax":"80","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":2,"x":900,"y":840,"wires":[[],[]]},{"id":"f6f225f9.0408b8","type":"ui_ui_control","z":"aa5fc5a9143866bc","name":"Stay in chargeStation Group","x":1000,"y":500,"wires":[[]]},{"id":"91c7a0ab.ec163","type":"function","z":"aa5fc5a9143866bc","name":"Sensor/History Goup","func":"var msg = {};\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = { group: {\n    how : [\"Dashboard_SensorData\", \"Dashboard_History\"],\n    hide : [\"Dashboard_Signin\"]\n}\n};\nreturn msg;\n\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":500,"wires":[["f6f225f9.0408b8","d530e2be170f4b81"]]},{"id":"e61b5c064360a30e","type":"exec","z":"aa5fc5a9143866bc","command":"python3 /home/jjhrasberry1/Desktop/Zumo-Smart-City/Node-red/TarioSky1/getUser.py","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":340,"y":300,"wires":[["88afc196.8abc2","2dadbead86556d26"],[],[]]},{"id":"2dadbead86556d26","type":"debug","z":"aa5fc5a9143866bc","name":"debug 9","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":300,"wires":[]},{"id":"4fba073b90e567cc","type":"split","z":"aa5fc5a9143866bc","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":110,"y":160,"wires":[["a554bb90baf65a88"]]},{"id":"a554bb90baf65a88","type":"join","z":"aa5fc5a9143866bc","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":" ","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":110,"y":200,"wires":[["e61b5c064360a30e"]]},{"id":"e73a1f0b48c12c71","type":"ui_button","z":"aa5fc5a9143866bc","name":"","group":"c35e46a8.b04ce8","order":2,"width":"2","height":"1","passthru":true,"label":"logut","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"0","payloadType":"str","topic":"payload","topicType":"msg","x":610,"y":440,"wires":[["5b39c16e.da2f"]]},{"id":"9eceaa92ddb8402a","type":"function","z":"aa5fc5a9143866bc","name":"client id","func":"msg.payload = global.get(\"user\")\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":560,"wires":[["667da36d8e46f76a","2c91ca0e57fefe81"]]},{"id":"667da36d8e46f76a","type":"ui_text","z":"aa5fc5a9143866bc","group":"c35e46a8.b04ce8","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":790,"y":560,"wires":[]},{"id":"e6b2c68baeab912a","type":"function","z":"aa5fc5a9143866bc","name":"function 1","func":"msg.socketid = flow.get(\"clientid\") || undefined;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":160,"wires":[["7646cc9c77180d61"]]},{"id":"7646cc9c77180d61","type":"debug","z":"aa5fc5a9143866bc","name":"debug 11","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":140,"wires":[]},{"id":"2c91ca0e57fefe81","type":"debug","z":"aa5fc5a9143866bc","name":"debug 12","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":780,"y":620,"wires":[]},{"id":"d530e2be170f4b81","type":"debug","z":"aa5fc5a9143866bc","name":"debug 13","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":560,"wires":[]}]