Node-red/rawJsonForNodeRed.json
[{"id":"2b6a73a93d16a353","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"7b3864b8e5589966","type":"tab","label":"Test flow til testkoden","disabled":false,"info":"","env":[]},{"id":"b38dd0ecf2953aba","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"79bd7a876d47bd42","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"fe08cb8ef7a89d6d","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"3b1b97cdb3069b9c","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"8037500eb60abcf1","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"48c23849e8802804","type":"ui_tab","name":"Room","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"6e700e0424f1d973","type":"ui_group","name":"Lamp","tab":"48c23849e8802804","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"918e4c6f030a9426","type":"ui_group","name":"Sensor","tab":"48c23849e8802804","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"959223befe851d74","type":"mqtt-broker","name":"","broker":"10.25.17.100","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"10e78a89.5b4fd5","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"61285987.c20328","type":"ui_group","name":"Main","tab":"e7c46d5e.a1283","order":1,"disp":true,"width":"6","collapse":false},{"id":"e7c46d5e.a1283","type":"ui_tab","name":"Dashboard","icon":"dashboard"},{"id":"846135405ee13acb","type":"mqtt in","z":"2b6a73a93d16a353","name":"","topic":"esp32/ID-number","qos":"2","datatype":"auto-detect","broker":"10e78a89.5b4fd5","nl":false,"rap":true,"rh":0,"inputs":0,"x":200,"y":62,"wires":[["30d13e9531a5ecd8","88a257a1698acfb1"]]},{"id":"bacdf8b16ec924c6","type":"debug","z":"2b6a73a93d16a353","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1020,"y":120,"wires":[]},{"id":"88a257a1698acfb1","type":"exec","z":"2b6a73a93d16a353","command":"python3 /home/jjhrasberry1/Desktop/Zumo-Smart-City/Node-red/TarioSky1/bom.py","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":630,"y":62,"wires":[["bacdf8b16ec924c6","d16d719001b8916e"],[],[]],"info":"sjekker skiltnummeropp mot database for å\r\nse om bil er elektrisk"},{"id":"30d13e9531a5ecd8","type":"debug","z":"2b6a73a93d16a353","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":140,"wires":[]},{"id":"d16d719001b8916e","type":"mqtt out","z":"2b6a73a93d16a353","name":"","topic":"esp32/bomIsElectric","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1060,"y":60,"wires":[]},{"id":"54d6a196f71fc9b3","type":"mqtt in","z":"2b6a73a93d16a353","name":"","topic":"esp32/ladestasjon","qos":"2","datatype":"auto-detect","broker":"10e78a89.5b4fd5","nl":false,"rap":true,"rh":0,"inputs":0,"x":210,"y":260,"wires":[["90e556e9bfc3f793"]],"info":"sender ut skiltnummer fra bil"},{"id":"781c9d636241f621","type":"mqtt out","z":"2b6a73a93d16a353","name":"","topic":"esp32/prisForKunde","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1100,"y":260,"wires":[]},{"id":"90e556e9bfc3f793","type":"exec","z":"2b6a73a93d16a353","command":"python3 /home/jjhrasberry1/Desktop/Zumo-Smart-City/Node-red/TarioSky1/getPrice.py.py","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":650,"y":260,"wires":[["781c9d636241f621"],[],[]]},{"id":"75ec8c8db90f3870","type":"mqtt in","z":"2b6a73a93d16a353","name":"","topic":"esp32/kjoreMonster","qos":"2","datatype":"auto-detect","broker":"10e78a89.5b4fd5","nl":false,"rap":true,"rh":0,"inputs":0,"x":250,"y":420,"wires":[["18fe7a81847749e6"]]},{"id":"18fe7a81847749e6","type":"exec","z":"2b6a73a93d16a353","command":"","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":630,"y":420,"wires":[[],[],[]]},{"id":"91a8851556112491","type":"mqtt in","z":"2b6a73a93d16a353","name":"","topic":"esp32/kontrollerOutput","qos":"2","datatype":"auto-detect","broker":"10e78a89.5b4fd5","nl":false,"rap":true,"rh":0,"inputs":0,"x":300,"y":500,"wires":[["a1cee02002b44c95","a77ae56808e6ba11"]]},{"id":"a1cee02002b44c95","type":"mqtt out","z":"2b6a73a93d16a353","name":"","topic":"zumo/kontrollerInput","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":540,"y":500,"wires":[]},{"id":"a77ae56808e6ba11","type":"debug","z":"2b6a73a93d16a353","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":580,"wires":[]},{"id":"bd9f9588932e6186","type":"mqtt out","z":"7b3864b8e5589966","name":"","topic":"esp32/output","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":290,"y":300,"wires":[]},{"id":"8777da049b296f65","type":"mqtt in","z":"7b3864b8e5589966","name":"","topic":"esp32/temperature","qos":"2","datatype":"auto-detect","broker":"10e78a89.5b4fd5","nl":false,"rap":false,"inputs":0,"x":164,"y":207,"wires":[["919afd3e8d76e39f","ebb92492feeea451"]]},{"id":"0c5d603d110fb588","type":"ui_switch","z":"7b3864b8e5589966","name":"","label":"Output","group":"61285987.c20328","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":149,"y":300,"wires":[["bd9f9588932e6186"]]},{"id":"ebb92492feeea451","type":"debug","z":"7b3864b8e5589966","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":361,"y":174,"wires":[]},{"id":"7307c3812c8cadb2","type":"mqtt in","z":"7b3864b8e5589966","name":"","topic":"esp32/pressure","qos":"2","datatype":"auto-detect","broker":"10e78a89.5b4fd5","nl":false,"rap":false,"inputs":0,"x":153,"y":91,"wires":[["a7bff68085b7fd38","aad0b08ee9f226b6"]]},{"id":"aad0b08ee9f226b6","type":"debug","z":"7b3864b8e5589966","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":58,"wires":[]},{"id":"919afd3e8d76e39f","type":"ui_chart","z":"7b3864b8e5589966","name":"","group":"61285987.c20328","order":0,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":361,"y":234,"wires":[[]]},{"id":"a7bff68085b7fd38","type":"ui_gauge","z":"7b3864b8e5589966","name":"","group":"61285987.c20328","order":0,"width":0,"height":0,"gtype":"gage","title":"pressure","label":"%","format":"{{value}}","min":0,"max":"100000","colors":["#00b3d9","#0073e6","#001bd7"],"seg1":"33","seg2":"66","diff":false,"className":"","x":340,"y":118,"wires":[]}]
